vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Apr 2001 20:57:39 -0000
vti_extenderversion:SR|4.0.2.5526
vti_cacheddtm:TX|17 Apr 2001 20:57:39 -0000
vti_filesize:IR|1548
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|
