vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Apr 2001 13:43:13 -0000
vti_extenderversion:SR|4.0.2.5526
vti_cacheddtm:TX|01 Apr 2001 13:43:13 -0000
vti_filesize:IR|1466
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|stylesheets/inactivereport.html
