/*
 * Common style rules for CDR web admin/reporting interface.
 */
body {
    background-color: #e8e8e8;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 8px;
}
body.report { background-color: white; }
header { margin-bottom: 15px; }
header h1 {
    color: white;
    margin: 0;
    font-size: 32px;
    padding-left: 8px;
    background-color: #936;
    height: 38px;
}
header h1 span {
    float: right;
    margin: 0 6px;
    position: relative;
}
header h1 span input {
    position: relative;
    bottom: 6px;
    margin-left: 4px;
}
header h2 {
    background-color: #ffc;
    margin: 0 0 15px 0;
    font-size: 13px;
    font-weight: normal;
    padding-left: 8px;
}
h3 {
    font: 16pt "Arial";
    color: navy;
    font-weight: bold;
    background: transparent;
}
body.admin-menu { background-color: #dfdfdf; }
.admin-menu header { margin-bottom: 35px; }
.admin-menu li a {
    color: navy;
    text-decoration: none;
    background: transparent;
}
.admin-menu li {
    color: navy;
    font: 12pt "Arial";
    font-weight: bold;
}
/*.admin-menu li a:hover { background: #ffc; }*/
.admin-menu li a:hover { text-decoration: underline; }
.admin-menu ul > li, .lnone { list-style-type: none; }
.admin-menu h4 { font-style: italic; }
table { background-color: white; margin: 5px auto; border-collapse:collapse; }
table caption {
    /* background-color: #936; */
    /* color: white; */
    /* border-top: 2px solid white; */
    /* border-bottom: 2px solid white; */
    font-weight: bold;
    font-size: 12pt;
    padding: 5px;
}
table caption p { font-weight: normal; font-size: 10pt; }
td { vertical-align: top; }
th, td {
    background-color: white; color: black;
    font-size: 11pt; padding: 2px 4px; border: 1px solid black;
}
table.no-gridlines td, table.no-gridlines th { border: none; }
td.middle { vertical-align: middle; }
.center { text-align: center; }
.right { text-align: right; }
.nowrap { white-space: nowrap; }
.report table { margin-top: 35px; }
table.report { margin-bottom: 20px; }
fieldset { border: 2px solid #936; width: 500px; margin: 10px auto; }
fieldset fieldset, div fieldset { width: auto; border: 1px solid black; }
legend { color: #936; font-weight: bold; }
.labeled-field { padding: 2px; }
.labeled-field label {
    width: 100px;
    float: left;
    text-align: right;
    clear: both;
    margin-right: 5px;
}
label.clickable:hover { color: white; background-color: #936; }
.error { color: red; font-weight: bold; }
.strong { font-weight: bold; }
.emphasis { font-style: italic; }
.strikethrough { text-decoration: line-through; }
.warning { color: green; }
.hidden { display: none; }
.no-results {
    text-align: center; font-weight: bold; color: #936; margin-top: 25px;
}
.labeled-field input, .labeled-field select, .labeled-field textarea {
    width: 300px; padding-left: 2px; padding-right: 2px;
}
.labeled-field textarea { width: 303px; }
.checkbox-form { background-color: #dfdfdf; color: navy; }
.checkbox-form h3 { font: 16pt Arial bold; }
.checkbox-form h4 { font: 14pt Arial bold; }
.checkbox-form header { margin-bottom: 35px; }
table.checkboxes { background: transparent; margin: 15px; }
table.checkboxes td {
    background: transparent;
    border: none;
    color: navy;
    font: 10pt Arial;
}
table.checkboxes td a {
    color: navy;
    background: transparent;
    text-decoration: none;
    font: 10pt Arial;
}
.footnote { font-size: 9pt; font-style: italic; color: green; }
.ui-datepicker { width: inherit; }
.ui-datepicker * { font-size: 11pt; font-family: Arial, sans-serif; }
.ui-datepicker-trigger { margin-left: 5px; }
.ui-datepicker td, .ui-datepicker th { min-width: 23px; }

form header h1 span input { margin-right: 5px; }
.date-range.labeled-field input.CdrDateField { width: 100px; }
.date-range span.date-range-sep { padding: 0 31px; }

#advanced-search-results p {
    border-bottom: 2px solid black;
    font-size: 1.2em;
    text-align: center;
}
#advanced-search-results table { width: 100%; }
#advanced-search-results td { border: none; background: #e8e8e8; }
#advanced-search-results .row-number { width: 50px; text-align: right; }
#advanced-search-results .doc-link { width: 125px; }
#pubmed-import-button, #term-import-button { text-align: center; }
#ncit-changes { margin-top: 10px; }
#activity-report td, #activity-report th { white-space: nowrap; }
#activity-report td:last-child { white-space: normal; }
.success, .info { color: green; }
.failure { color: red; }
.news { font-weight: bold; border: 3px solid green; padding: 5px; }
.news.failure { border: 3px solid red; }
dl { padding-left: 5px; }
dt { margin-top: 15px; font-weight: bold; }
#summaries-toc-report h5 { font-size: 1em; margin-bottom: 0; margin-top: 10px }
#summaries-toc-report h4 { text-decoration: underline; }
#summaries-toc-report > ul { margin: 0 2px; }
.flexlinks { width: 1200px; }
.flexlinks ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  margin: 10px 0 0;
}
.admin-menu .flexlinks li a { color: #00E; font-weight: normal; }
.flexlinks li { padding-bottom: 6px; }
th.clickable { cursor: pointer; }
footer p {
    font-style: italic; font-size: .8em; margin-top: 25px; text-align: center;
}
footer p span { font-size: .8em; color: green; }
.blocked, .removed, .insertion { color: red; }
.deletion { text-decoration: line-through; }
.replacement { background-color: yellow; font-weight: bold; }
