/*
 * $Id$
 *
 * Stylesheet instructions for CDR JavaScript calendar.  See instructions
 * in CdrCalendar.js on enabling the calendar widget for form fields.
 */

.cdr-cal-box {
    position: absolute;
    font-size: 11px;
    width: 16em;
    text-align: center;
    background: white;
}

.cdr-cal-main {
    margin: 0;
    padding: 0;
}

input.CdrDateField {
    background: white;
    font-weight: normal;
    width: 100px;
}
input.CdrDateField[disabled] {
    color: black;
}
.cdr-cal-main table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: white;
    width: 100%;
    border: #ccc solid 1px;
}

.cdr-cal-main caption {
    margin: 0;
    font-size: 11px;
    text-align: center;
    border-top: none;
    padding: 2px 5px 3px 5px;
    color: white;
    font-weight: bold; 
    background: url(../images/CdrCalBackground.gif) #7ca0c7;
}

.cdr-cal-main td {
    font-size: 11px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom:none;
}

.cdr-cal-main td.selected a {
    background: #C9DBED;
}

.cdr-cal-main td a {
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    color:#444;
}

a.cdr-cur-day { 
    background: #ffc; 
}

.cdr-cal-main td a:hover {
    background: #5b80b2;
    color: white;
}

.cdr-cal-main td a:active {
    background: #036;
    color:white;
}

.cdr-cal-link img {
    border: none
}

a.cdr-cal-link {
    padding-left: 2px;
}

.cdr-cal-main td a {
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.cdr-cal-main caption {
    font-size: 11px;
    font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana, Arial,
                 sans-serif;
}
.cdr-cal-main th {
    font-size: 10px;
    font-weight: bold;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    color: #666;
    padding: 2px 3px;
    text-align: center;
    background: url(../images/CdrCalNavBackground.gif) #e1e1e1 0 50% repeat-x;
    border-bottom: 1px solid #ddd;
}

.cdr-cal-box a {
    text-decoration: none;
}

.cdr-cal-nav {
    position: absolute; 
    display: block; 
    top: 0; left: 0;
    width: 100%; 
    margin: 0; padding: 0;
    font-size: 15px;
    background: url(../images/CdrCalBackground.gif) #7ca0c7;
}

.cdr-cal-nav a { 
    padding: 0px 4px; 
    color: white;
    font-weight: bold;
    font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif; 
    font-size: 15px;
    text-decoration: none;
}

a.cdr-cal-nav-link:link, a.cdr-cal-nav-link:hover {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.cdr-cal-nav a:hover {
    background: #036;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.cdr-cal-nav span {
    top: 0;
    position: absolute;
    display: block;
    font-size: 15px;
    background: url(../images/CdrCalBackground.gif) bottom left repeat-x
                #c9dbed;
}
