  BODY { 
		text-align: left;
		background: white;
		}

  Gloss { color: blue; }
  P { 
		font: 14pt "Times New Roman";
		background: transparent;
		}



  H1 {
		font: 28pt "Arial";
		color: Green;
		font-weight: bold;
		background: transparent;
		}

  H2 {
		font: 20pt "Times New Roman";
		color: Blue;
		font-weight: bold;
		background: transparent;
		}

  H3 {
		font: 18pt "Arial";
		color: Teal;
		font-weight: bold;
		background: transparent;
		}

  H4 {
		font: 14pt "Arial";
		color: Black;
		font-weight: bold;
		background: transparent;
		}

  H5 {
		font: 10pt "Times New Roman";
		color: Black;
		font-weight: bold;
		background: transparent;
		}

  TH {
		font: 11pt "Comic Sans MS";
		color: black;
		font-weight: bold;
		}

  TD {	
    	font: 10pt "Comic Sans MS";
		color: black;
		}

  LI { 
		display: list-item;
		font: 10pt "Comic Sans MS";
		}	

  DL {	
		display: list-item;

		}

  DT {
		text-align: left;
		font: 11pt "Arial";
		font-weight: bold;
		color: Black;
		}

  DD {
		text-align: left;
		font: 12pt "Times New Roman";
		color: black;
		}

  B, STRONG { 
		font-weight: bold
		} 
  I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE { 
		font-style: italic 
		}
  PRE, TT, CODE, KBD, SAMP { 
		font-family: monospace 
		}

  A:LINK {
		color: MediumVioletRed;
		text-decoration: none;
		}

  A:VISITED {
		color: MediumVioletRed;
		text-decoration: none;
		}

  A {
		color: MediumVioletRed;
		text-decoration: none;
		}
