body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: .5rem;
}
body > div { width: auto; }
h1 { font-size: 1.4em; margin-left: 2rem; }
table { margin: 1rem auto 2rem; }
th, td { padding: .25rem; }
.top-section {
    font-weight: bold;
}
.mid-section {
    font-weight: normal;
}
.low-section {
    font-style: italic;
}
table.general {
    width: 1024px;
    margin-top: 3rem;
}
table.general td:first-child {
    text-align: right;
    text-wrap: nowrap;
    vertical-align: middle;
    font-weight: bold;
    padding-right: .5rem;
    width: 10rem;
}
