vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Mar 2001 18:13:27 -0000
vti_extenderversion:SR|4.0.2.5526
vti_cacheddtm:TX|27 Mar 2001 18:13:27 -0000
vti_filesize:IR|1512
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|cdrgloss.html
