vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Mar 2001 22:42:44 -0000
vti_extenderversion:SR|4.0.2.5526
vti_cacheddtm:TX|26 Mar 2001 22:42:44 -0000
vti_filesize:IR|1550
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|
