<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <add name="Python Handler"
           path="*.py"
           verb="*"
           modules="CgiModule"
           scriptProcessor="D:\Python\python.exe &quot;%s&quot; %s"
           resourceType="Unspecified"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="150000000"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="false">
      <files>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="CDR Admin Login"
              patternSyntax="ExactMatch"
              stopProcessing="true">
          <match url="CdrAdmin.html"/>
          <action type="Redirect"
                  url="/cgi-bin/secure/admin.py"
                  appendQueryString="false"/>
        </rule>
        <rule name="Map root to admin login"
              stopProcessing="true">
          <match url="^$"/>
          <action type="Redirect"
                  url="/cgi-bin/secure/admin.py"
                  appendQueryString="false"
                  logRewrittenUrl="true"
                  redirectType="Found"/>
        </rule>
		<rule name="Static Files"
              stopProcessing="true">
			<match url="^cgi-bin/scheduler/static"/>
			<action type="None"/>
		</rule>
        <rule name="CDR Scheduler"
              patternSyntax="ECMAScript"
              stopProcessing="true">
          <match url="^cgi-bin/scheduler/(.*)"/>
          <action type="Rewrite"
                  url="cgi-bin/scheduler/pageproxy.py?path={R:1}"
                  logRewrittenUrl="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="150000"
                 executionTimeout="1800"/>
  </system.web>
</configuration>
