<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python Handler" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Python\python.exe &quot;%s&quot; %s" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="cdradmin.html" />
            </files>
        </defaultDocument>
    </system.webServer>



</configuration>
